<h2>I AMA Homepage</h2>

<%= link_to "Add Link", new_link_path %>
<ul>
  <% @links.each do |link| %>
      <li><%= link_to link.title, "http://"+link.url %><br><%= link_to "comment", link_path(link.id) %> | (<%= link.url %>)</li>
  <% end %>
</ul>

<p><%= will_paginate @links %></p>
